body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

.header {
    width: 100%;
    height: 50px;
    font-size: xx-large;
    background-color: darkblue;
    line-height: 50px;
    margin: 10px auto;
    padding: 10px;
    color: white;
}

    .header:hover,
    .header:focus {
        text-decoration: none;
    }
